name: "Publish Docker"
on:
  push:
    tags:
      - '*' # Push events to every tag

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21.4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: subquerynetwork
          password: ${{ secrets.SQ_DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: arm64,amd64
          file: Dockerfile
          # TODO bring back latest
          tags: subquerynetwork/geth-client:${{ github.ref_name }}
          build-args: |
            COMMIT=${{github.sha}}
            VERSION=${{github.ref_name}}
            BUILDNUM=${{github.run_number}}
